APP_ENV=development

DATABASE_URL=postgres://surgiledger:surgiledger@localhost:5432/surgiledger?sslmode=disable

AWS_REGION=us-west-2
AWS_ENDPOINT_URL=http://localhost:4566

SQS_EPISODE_QUEUE=surgiledger-episodes
